<div class="row">
    <%= render partial: "sideview", locals: { side_view: @side_view } %>
    <div class="col-sm-8 col-sm-offset-1 col-xs-12" style="height:100%">
        <% @posts.each do |post| %>
            <%= render partial: "post", locals: { p: post } %>
        <% end %>
    </div>
</div>