
<div class="row">
    <div class="col-sm-3 hidden-xs" style="height:100%; background-color:darkGray;">
        <div style="">
            <h1 class="body-header">Meme Driven Development</h1>
            <p>A blog about life, love and software</p>
            <h2> Memes Posted </h2>
            <ul class="list-group">
                <li class="list-group-item"> Meme Post 1 </li>
                <li class="list-group-item"> Meme Post 2 </li>
                <li class="list-group-item"> Meme Post 3 </li>
                <li class="list-group-item"> Meme Post 4 </li>
                <li class="list-group-item"> Meme Post 5 </li>
            </ul>

            <h2> Top Memes </h2>
            <ul class="list-group">
                <li class="list-group-item"> Meme Post 1 </li>
                <li class="list-group-item"> Meme Post 2 </li>
                <li class="list-group-item"> Meme Post 3 </li>
                <li class="list-group-item"> Meme Post 4 </li>
                <li class="list-group-item"> Meme Post 5 </li>
            </ul>
            <a href="#">See all memes </a>
        </div>
    </div>
    <div class="col-sm-8 col-sm-offset-1 col-xs-12" style="height:100%">
    <% @posts.each do |post| %>
        <div class="dusty short-meme">
        <h2><%= post.title %></h2>
        <h3><%= post.subtitle %></h3>
        <p>published : <% post.publish_date%></h2>
        <%=  markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(), extensions = {})
        markdown.render(
        %Q{### My List of Things To Do!

  Here is the list of things I wish to do!

  * write more posts
  * write even more posts
  * write even more posts!}).html_safe %>
        </div>
    <% end %>
        <div class="dusty short-meme">
        <h2>Title</h2>
        <h3>Subtitle</h3>
        <p>published : Today!</h2>
        <%=  markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(), extensions = {})
        markdown.render(
        %Q{### My List of Things To Do!

  Here is the list of things I wish to do!

  * write more posts
  * write even more posts
  * write even more posts!}).html_safe %>
        </div>
    </div>
</div>