.index-body {
    padding-top: 50px;
}

.body-bkg {
    height:100%; 
    width:100%; 
    min-height:100vh; 
    background-attachment: fixed; 
    background-color:#6D7993;
}

.dusty {
    background-color:#96858F;
}

.body-header {
    text-align: center
}

.table-hover > tbody > tr:hover{
    color:darkGray;
}

.short-meme {
    padding:7px 20px; 
    margin-bottom:15px;
}

.button-color {
    color:black;
}

.list-group-item {
    background-color:darkslategray;
    color:antiquewhite;
    text-decoration: none;
}

.list-group-item:hover {
    cursor:pointer;
    background-color:#707070;
    color:antiquewhite;
    text-decoration: none;
}