/*
old pallette
#6D7993
#96858F
darkGray
darkslategray
#707070
*/

.index-body {
    padding-top: 50px;
}

.body-bkg {
    height:100%; 
    width:100%; 
    min-height:100vh; 
    background-attachment: fixed; 
    background-color:#394b65;
}

.side-bar {
    background-color:#062441;
    height:100%;
}

.dusty {
    background-color:#011f4b;
}

.body-header {
    text-align: center
}

.table-hover > tbody > tr:hover{
    color:darkGray;
}

.short-meme {
    padding:7px 20px; 
    margin-bottom:15px;
}

.button-color {
    color:black;
}

.post-list a {
    background-color:#6497b1;
    color:antiquewhite;
    text-decoration: none;
    box-sizing: border-box;
    width: 261px;
    height: 40px;
    padding: 7px 15px;
    border: beige;
    border-style: outset;
    display: inline-block;
    border-radius: 5px;
}

.post-list {
    list-style-type: none;
}

.post-list a:hover {
    background-color:#005b96;
    color:antiquewhite;
    text-decoration: none;
    border-style: inset;
}